.fc {
  width: 100%;
  max-width: 100%;
  height: 600px;
  ::ng-deep .fc-event-time{
    display: none !important;
  }
  ::ng-deep .fc-header-toolbar{
    display: none !important;
  }
  ::ng-deep .fc-daygrid-day-bottom{
    .fc-daygrid-more-link {
      &:before {
        content: " + Ver todas reservas";
        color: black;
      }
    }
   a{
     color: transparent;
   }
  }
}
.container-legend{
  margin-top:  10px;
  display: flex;
  flex-direction: column;
  .container-dots{
    display: flex;
    gap: 7px;
    align-items: center;
  }
}
