.fc {
  width: 100%;
  max-width: 100%;
  height: 600px;
  ::ng-deep .fc-event-time{
    display: none !important;
  }
  ::ng-deep .fc-header-toolbar{
    display: none !important;
  }
  ::ng-deep .fc-daygrid-day-bottom{
    .fc-daygrid-more-link {
      &:before {
        content: " + Ver todas reservas";
        color: black;
      }
    }
   a{
     color: transparent;
   }
  }
}
