<div class="container-rooms-page">
  <mat-card>
    <div class="card-rooms">
      <mat-card-title>
        <div class="card-title">
          <mat-icon>meeting_room</mat-icon>
          <span>Salas</span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="roomsForm">
          <div>
            <mat-form-field>
              <mat-label>Setor</mat-label>
              <mat-select formControlName="section">
                @for (section of (store.getSections | async); track section.id) {
                  <mat-option value="{{section.id}}">{{ section.nome }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <button class="default-button" (click)="submit()">Buscar</button>
          <button class="default-button" (click)="openDialog()">Nova Sala</button>
        </form>
      </mat-card-content>
    </div>

  </mat-card>
  <mat-card>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Sala </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="setor">
          <th mat-header-cell *matHeaderCellDef> Setor </th>
          <td mat-cell *matCellDef="let element"> {{element.setor}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status Atual </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     [length]="(store.getRooms | async)?.page?.totalElements"
                     [pageSize]="(store.getRooms | async)?.page?.size"
                     [pageIndex]="(store.getRooms | async)?.page?.number"
                     showFirstLastButtons
                     (page)="handlePageEvent($event)"
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card>
</div>
