.container-rooms-page{
  display: flex;
  gap: 10px;
  flex-direction: column;
  .card-rooms{
    background: white;
    border-radius: 8px;
  }
  form{
    max-width: 300px;
    display: flex;
    gap: 15px;
    div{
      display: flex;
      gap: 10px;
    }
  }
  .card-title{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    padding: 16px 16px 0 16px;
  }
  .table-container{
    background: white;
    padding: 10px;
    border-radius: 8px;
    table {
      width: 100%;
      background: white;

    }
  }
}

.room-reserved,
.room-not-reserved{
  background: red;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.room-not-reserved{
  background: #7faa1b;
}
