.master-home{
  display: flex;
  flex-direction: column;
  gap: 11px;
  .calendar,
  .container-top-infos{
    .card-title{
      padding: 0 16px 6px 16px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    padding-top: 16px;
    background: white;
    border-radius: 8px;
    form {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      div{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
      mat-form-field{
        width: 300px;
      }
      .container-button-top{
        button{
          height: 30px;
        }
      }
    }
  }
}
