<div class="login-page">

  <div class="login-page__container">

    <img alt="Logo" src="assets/logo.png">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" [type]="typeInput">
        <mat-icon [style.cursor]="'pointer'" (click)="tradeTypeInput()" matSuffix>lock_open</mat-icon>
      </mat-form-field>

      <a href="#">Esqueceu a senha ?</a>
      <div class="container-buttons">
        <button mat-flat-button color="primary">Entrar</button>
        <button mat-stroked-button>Cadastre-se</button>
      </div>
    </form>
  </div>

</div>
