.app-progress {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 4px;
}

.container-page {
  display: flex;

  div {
    width: 100%;
  }

  .content {
    background: #efefef;

    span{
      margin-left: 10px;
    }

    .container-router {
      padding: 15px;
    }
  }
}
mat-drawer-container{
  height: 100% !important;
  background: #efefef;
}
