<mat-drawer-container class="example-container">
  @if (!outSystem){
    <mat-drawer mode="over" [opened]="opened">
      <app-side-menu
        [actualRoutePath]="actualRoutePath"
      >
      </app-side-menu>
    </mat-drawer>
  }
  <mat-drawer-content>
    @if(loader.loader){
      <div class="loader-container">
        <mat-spinner></mat-spinner>
      </div>
    }
    <div class="container-page">
      <div [class]="!outSystem ? 'content' : ''">
        @if (!outSystem){
          <mat-toolbar>
            <mat-icon [style.cursor]="'pointer'" (click)="opened = !opened">menu</mat-icon>
            <span>Gerenciamento de salas – Ambulatório HU-UFS</span>
          </mat-toolbar>
        }
        <div class="container-router">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
