<div class="master-home">
  <mat-card>
    <div class="container-top-infos">
      <mat-card-title>
        <div class="card-title">
          <mat-icon>alarm</mat-icon>
          <span>Reserva Rápida</span>
        </div>

      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
          <div>
            <mat-form-field>
              <mat-label>Setor</mat-label>
              <mat-select formControlName="section" (selectionChange)="getRoomsById($event.value)">
                @for (section of (homeStore.getSections | async); track section.id) {
                  <mat-option value="{{section.id}}">{{ section.nome }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Sala</mat-label>
              <mat-select formControlName="room">
                @for (room of (homeStore.getRoomsByFilter | async); track room.id) {
                  <mat-option value="{{room.id}}">{{ room.nome }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Data de reserva</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="reservationDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Responsável</mat-label>
              <mat-select formControlName="requester">
                @for (req of (homeStore.getRequesters | async); track req.nome) {
                  <mat-option [value]="req.id">{{ req.nome }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Horário</mat-label>
              <input matInput #inputField placeholder="00:00 - 00:00" (input)="formatTimeRange(inputField)" maxlength="13" formControlName="timeRange">
            </mat-form-field>
          </div>

          <div class="container-button-top">
            <button class="default-button" type="submit">Reservar Agora</button>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card>
    <div class="calendar">
      <mat-card-title>
        <div class="card-title">
          <mat-icon>calendar_today</mat-icon>
          <span>Calendário do Mês</span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <app-calendar></app-calendar>
      </mat-card-content>
    </div>
  </mat-card>
</div>
