<h2 mat-dialog-title>Cadastro de Solicitante</h2>
<mat-dialog-content class="dialog-form-content">
  <form class="form-stack" [formGroup]="requesterForm">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput type="name" placeholder="Nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input
        formControlName="cpf"
        matInput
        mask="000.000.000-00"
        placeholder="000.000.000-00"
        autocomplete="off"
      >
      @if (requesterForm.controls['cpf'].invalid && requesterForm.controls['cpf'].touched) {
        <mat-error>Informe um CPF válido (11 dígitos).</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input
        formControlName="phone"
        matInput
        mask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
        autocomplete="tel"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Especialidade</mat-label>
      <input formControlName="type" matInput type="name" placeholder="Especialidade">
    </mat-form-field>


  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" type="button" (click)="submit()">Salvar</button>
</mat-dialog-actions>
