
<div class="main-side-menu">
  <div class="side-menu-content">
    <div class="list">
      <div>
        <img alt="Logo" src="assets/logo.png">
        <ul>
          @for (m of menu; track m.icon){
            <li (click)="navigate(m.route)" [class]="actualRoutePath == m.route ? 'selected' : ''">
              <div style="display: flex; flex-direction: row;width: 100%" [matTooltip]="m.description" matTooltipPosition="right">
                <mat-icon>{{ m.icon }}</mat-icon> <span>{{m.description}}</span>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
