@use "./styles/form-layout" as *;
@use "./styles/dialog-layout" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  height: 100%;
  background: #efefef;
  box-sizing: border-box;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-paginator-outer-container{
  background: white !important;
}

.mat-toolbar{
  background: white !important;
}
ngx-mat-datetime-picker {
  background-color: white !important;
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}
ngx-mat-datetime-picker {
  background-color: white !important;
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

html, body {   height: 100vh }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-card-content:last-child{
  padding-bottom: 0;
}

.default-button{
  background: #7faa1b;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
  height: 40px;
  &:disabled{
    background: gray;
    color: #000;
  }
}
.dot, .dot-b{
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: yellow;
}

.dot-b{
  background: red;
}

.mat-mdc-snack-bar-container.snackbar--success {
	--mdc-snackbar-container-color: #2e7d32;
	--mat-snack-bar-supporting-text-color: #ffffff;
	--mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.snackbar--error {
	--mdc-snackbar-container-color: #c62828;
	--mat-snack-bar-supporting-text-color: #ffffff;
	--mdc-snackbar-supporting-text-color: #ffffff;
}
